<!--Assignment:1,   Devanshi Patel, 301161377, 31st may,2021-->

    <!-- JAVASCRIPT SECTION -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="/Scripts/textEffect.jquery.js"></script>
    
  </body>
</html>
