<!--Assignment:1,   Devanshi Patel, 301161377, 31st may,2021-->

<% include ../partials/header.ejs %>
  <!-- Page content -->
  <div id="page-content-wrapper">
    <!-- Keep all page content within the page-content inset div! -->
    <div class="page-content inset">
      <div class="row">
        <div class="col-md-12">
          <p style="text-align:center; font-size:30px; font-family:Fantasy;" class="well lead"><a style="color: teal;">
              Portfolio of Devanshi Patel </a></p>
          <div class="container">
            <div class="row">
              <!-- div da esquerda -->
              <!-- Text input CNPJ e Razao Social-->
              <div class="well col-md-11">
                <div class="row">
                  <div class="col-sm-4">

                    <h2>Application Developer </h2>

                    <h2>Front End Developer</h2>
                    <h2>Back End Developer</h2>
                  </div>

                  <div class="col-sm-4"><img src="img/language.jpeg" alt="Time clock hub" width="400" height="200">
                  </div>

                </div> <!-- fim div da direita -->
              </div> <!-- fim div da esquerda -->
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <% include ../partials/footer.ejs %>